@import '../styles/globals.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.no-site-chrome header,
.no-site-chrome footer { display: none; }

.hide-header header { display: none; }
.hide-footer footer { display: none; }
